body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

body.abn-cv-one {
    background-color: #dcdcdc;
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

section.abn-content-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

section.abn-content-wrapper aside {
    background-color: #333333;
    width: 410px;
    position: relative;
    padding: 0 0 88px 88px;
    overflow: hidden;
}

section.abn-content-wrapper aside:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #666666;
    top: 0;
    left: 87px;
}

section.abn-content-wrapper aside:after {
    content: "";
    position: absolute;
    width: 800px;
    height: 500px;
    background: #f2ab00;
    top: -136px;
    right: 44px;
    transform: rotate(133deg);
}

.abn-profile-img-wrapper {
    width: 288px;
    height: 288px;
    border-radius: 50% 50% 50% 0;
    border: 5px solid #FFFFFF;
    background-color: #aaaaaa;
    margin-top: 120px;
    margin-left: 24px;
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
}

.abn-profile-img-wrapper img {
    max-width: 288px;
    max-height: 288px;
    border-radius: 50% 50% 50% 0;
}

.abn-widget {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.abn-widget:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    border-bottom: 2px dashed;
    left: 25px;
    bottom: 0;
}

.abn-widget:last-child {
    margin: 0;
}

.abn-widget:last-child:after {
    border: none;
}

h5.abn-widget-title {
    position: relative;
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    padding-left: 25px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

h5.abn-widget-title:before {
    content: "";
    position: absolute;
    width: 15px;
    height: calc(100% + 8px);
    background: #f2ab00;
    border-radius: 15px;
    top: -4px;
    left: -7px;
}

h5.abn-widget-title i {
    margin-right: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #333333;
    background: #FFFFFF;
    font-size: 21px;
    border-radius: 50%;
}

.abn-widget-content {
    position: relative;
}

.abn-icon-text {
    position: relative;
    display: flex;
    padding-left: 25px;
    align-items: center;
    margin-bottom: 25px;
}

.abn-icon-text:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f2ab00;
    border-radius: 15px;
    top: 50%;
    left: -7px;
    transform: translate(0px, -7px);
}

.abn-widget-icon {
    color: #333333;
    font-size: 16px;
    width: 35px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 12px;
}

.abn-icon-text:last-child {
    margin: 0;
}

.abn-widget-icon i {}

.abn-widget-text {}

.abn-widget-text span {
    display: block;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.abn-only-text {
    margin-bottom: 30px;
}

.abn-widget-content:last-child .abn-only-text {
    margin: 0;
}

.abn-only-text h3 {
    font-size: 23px;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.abn-only-text h3:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f2ab00;
    border-radius: 15px;
    top: 50%;
    left: -7px;
    transform: translate(0px, -7px);
}

.abn-only-text p {
    padding-left: 25px;
    line-height: 28px;
}

/* main section */
section.abn-content-wrapper main {
    background-color: #FFFFFF;
    width: calc(100% - 498px);
    position: relative;
    overflow: hidden;
}

section.abn-content-wrapper main:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #4d4d4d;
    top: 0;
    left: 70px;
    z-index: 1;
}

section.abn-content-wrapper main:after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: #f2ab00;
    bottom: -15%;
    right: -205px;
    transform: rotate(45deg);
}

section.abn-name-designation {
    margin-top: 155px;
    padding: 65px 0 65px 115px;
    position: relative;
    background: #efefef;
}

section.abn-name-designation:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 150px;
    background: #f2ab00;
    border-radius: 15px;
    top: 40px;
    left: 64px;
    z-index: 2;
}

h2.abn-profile-name {
    color: #333333;
    font-size: 60px;
    text-transform: uppercase;
}

span.abn-p-last-name {
    color: #f2ab02;
}

p.abn-designation {
    color: #4b4b4b;
    font-size: 24px;
    text-transform: uppercase;
}

section.abn-section-content-wrap {
    padding: 0 84px 0 115px;
    margin-top: 95px;
}

.abn-about-me {
    padding-top: 115px;
}

.abn-about-me p {
    line-height: 32px;
}

h5.abn-section-title {
    position: relative;
    color: #333333;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

h5.abn-section-title:before {
    content: "";
    position: absolute;
    width: 15px;
    height: calc(100% + 8px);
    background: #f2ab00;
    border-radius: 15px;
    top: -4px;
    left: -51px;
    z-index: 1;
}

h5.abn-section-title i {
    color: #333333;
    font-size: 15px;
    width: 35px;
    height: 35px;
    background: #f2ab00;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 12px;
}

.abn-section-content {}

.abn-section-text {
    margin-bottom: 35px;
}

.abn-section-text p {
    color: #333333;
    font-size: 20px;
    text-align: justify;
}

h3.abn-job-title-time {
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

h3.abn-job-title-time:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f2ab00;
    border-radius: 15px;
    top: 50%;
    left: -51px;
    transform: translate(0px, -7px);
    z-index: 1;
}

span.abn-job-title {
    font-size: 23px;
}

span.abn-job-time {
    font-size: 20px;
}

p.abn-job-location {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 15px;
}

.abn-section-content:last-child .abn-section-text {
    margin: 0;
}

.abn-skills-set {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 22px;
}

.abn-user-skill {
    display: flex;
    width: 48%;
    align-items: center;
    justify-content: space-between;
}

.abn-user-skill h4 {
    color: #333333;
}

span.abn-skill-line {
    width: 125px;
    height: 5px;
    background: #CCCCCC;
    border-radius: 5px;
}

span.abn-skill-percentage {
    display: block;
    height: 5px;
    background: #f2ab00;
    border-radius: 5px;
}


/* ==============
    CV Two style
================ */

body.abn-cv-two {
    background-color: #dcdcdc;
    font-family: "Raleway", sans-serif;
}

section.abn-cvt-content-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    color: #333333;
    background-color: #fffeff;
    display: flex;
}

section.abn-cvt-content-wrapper aside {
    max-width: 450px;
    margin-left: 95px;
    background: #efefef;
}

.abn-cvt-aside-top {
}

.abn-cvt-name-designation {
    color: #FFFFFF;
    background-color: #333333;
    text-align: center;
    padding-top: 115px;
}

h2.abn-cvt-profile-name {
    font-size: 55px;
    text-transform: uppercase;
}

span.abn-cvt-p-last-name {}

p.abn-cvt-designation {
    font-size: 24px;
    text-transform: uppercase;
}

.abn-cvt-profile-img-wrapper {
    background-color: #333333;
    text-align: center;
    padding: 35px 25px 30px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 0 0 50% 50%;
}

.abn-cvt-profile-img-wrapper img {
    width: 380px;
    height: 380px;
    border: 10px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

.abn-cvt-aside-middle {
    margin: 35px 0;
}

.abn-cvt-widget {
    padding-left: 85px;
}

h5.abn-cvt-widget-title {
    position: relative;
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

h5.abn-cvt-widget-title i {
    margin-right: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #333333;
    background: #FFFFFF;
    font-size: 21px;
    border-radius: 50%;
}

.abn-cvt-aside-middle h5.abn-cvt-widget-title i {
    color: #FFFFFF;
    background: #333333;
}

.abn-cvt-widget-content {
}

.abn-cvt-icon-text {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.abn-cvt-icon-text:last-child {
    margin: 0;
}

.abn-cvt-widget-icon {
    margin-right: 10px;
}

.abn-cvt-widget-icon i {}

.abn-cvt-widget-text {}

.abn-cvt-widget-text span {}

.abn-cvt-aside-bottom {
    color: #FFFFFF;
    background: #333333;
    margin: 0 25px;
}

.abn-cvt-aside-bottom .abn-cvt-widget:first-child {position: relative;z-index: 9;background: #efefef;}

.abn-cvt-aside-bottom .abn-cvt-widget {
    padding-left: 60px;
    margin-bottom: 50px;
    position: relative;
    z-index: 10;
    background-color: #333333;
}

.abn-cvt-aside-bottom .abn-cvt-widget:last-child {
    margin-bottom: 0;
}

.abn-cvt-aside-bottom .abn-cvt-widget:first-child:before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50% 50% 0 0;
    left: 0;
    top: 0;
    background: #333333;
    z-index: -1;
}

.abn-cvt-aside-bottom .abn-cvt-widget:first-child h5 {
    padding-top: 114px;
}

.abn-cvt-aside-bottom .abn-cvt-widget:last-child {
    padding-bottom: 120px;
}

.abn-cvt-only-text {
    margin-bottom: 30px;
}

.abn-cvt-only-text h3 {
    font-size: 23px;
    position: relative;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.abn-cvt-only-text p {
    line-height: 24px;
}


section.abn-cvt-section-content-wrap {
    padding-left: 90px;
    padding-right: 100px;
    margin-bottom: 110px;
}

section.abn-cvt-section-content-wrap:last-child {
    margin-bottom: 0;
}

h5.abn-cvt-section-title {
    position: relative;
    color: #333333;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

h5.abn-cvt-section-title i {
    color: #FFFFFF;
    font-size: 21px;
    width: 50px;
    height: 50px;
    background: #333333;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 12px;
}

.abn-cvt-section-content {}

.abn-cvt-section-text {
    margin-bottom: 40px;
}

.abn-cvt-section-text p {
    color: #333333;
    font-size: 20px;
    text-align: justify;
}

h3.abn-cvt-job-title-time {
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    position: relative;
}

span.abn-cvt-job-title {
    font-size: 23px;
    text-transform: uppercase;
}

span.abn-cvt-job-time {
    font-size: 20px;
}

p.abn-cvt-job-location {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 18px;
}

.abn-cvt-section-content:last-child .abn-cvt-section-text {
    margin: 0;
}

.abn-cvt-skills-set {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 18px;
}

.abn-cvt-user-skill {
    display: flex;
    width: 47%;
    align-items: center;
    justify-content: space-between;
}

.abn-cvt-user-skill h4 {
    color: #333333;
    width: 70%;
}

span.abn-cvt-skill-line {
    width: 125px;
    height: 5px;
    background: #CCCCCC;
    border-radius: 5px;
}

span.abn-cvt-skill-percentage {
    display: block;
    height: 5px;
    background: #333333;
    border-radius: 5px;
}

.abn-lang-hobby {
    display: flex;
}

section.abn-cvt-user-lang {
    width: 64%;
}

.abn-lang-set {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
}

.abn-lang-set span {
    position: relative;
    width: 40%;
    padding-left: 15px;
}

.abn-hobby-set {}

.abn-hobby-set span {
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding-left: 15px;
}

.abn-lang-set span,
.abn-hobby-set span {
    font-size: 20px;
    font-weight: 600;
}

.abn-lang-set span i,
.abn-hobby-set span i {
    font-size: 10px;
    padding-right: 8px;
}


/* ==============
    CV Three style
================ */



body.abn-cv-three {
    color: #333333;
    background: #DDDDDD;
    font-family: "Raleway", sans-serif;
}

section.abn-cv-three-content-wrapper {
    width: 1280px;
    margin: 0 auto;
    display: flex;
}

section.abn-cv-three-content-wrapper aside {
    width: 540px !important;
    color: #FFFFFF;
    background-color: #29333a;
    padding-top: 120px;
    padding-left: 100px;
    padding-bottom: 120px;
    position: relative;
}

.abn-cv-three-img-name-wrap {
    position: relative;
    overflow: hidden;
}

.abn-cv-three-name-designation {
    position: absolute;
    width: 82%;
    height: 440px;
    top: 0;
    left: 0;
    text-align: right;
    z-index: 18;
    transform: rotate(-90deg);
}

h2.abn-cv-three-profile-name {
    font-size: 54px;
    text-transform: uppercase;
}

span.abn-cv-three-p-last-name {}

p.abn-cv-three-designation {
    font-size: 25px;
    text-transform: uppercase;
}

.abn-cv-three-profile-img-wrapper {
    width: 362px;
    height: 420px;
    border: 10px solid #FFFFFF;
    border-right: none;
    margin-left: 168px;
}

.abn-cv-three-profile-img-wrapper img {
    min-width: 362px;
    height: 100%;
    object-fit: cover;
}

section.abn-cv-three-section-content-wrap {
    margin-top: 80px;
    margin-right: 85px;
}

.abn-cv-three-about-me {}

h5.abn-cv-three-section-title {
    position: relative;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

h5.abn-cv-three-section-title i {
    color: #333333;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background: #36c4db;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 25px;
}

.abn-cv-three-section-content {}

.abn-cv-three-section-text {}

.abn-cv-three-section-text p {
    font-size: 21px;
    font-weight: 400;
    text-align: justify;
}

aside .abn-cv-three-widget {
    margin-top: 80px;
}

.abn-cv-three-widget {
    position: relative;
}

aside h5.abn-cv-three-widget-title {
    color: #FFFFFF;
}

h5.abn-cv-three-widget-title {
    position: relative;
    color: #333333;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

h5.abn-cv-three-widget-title i {
    color: #333333;
    font-size: 28px;
    width: 50px;
    height: 50px;
    background: #36c4db;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 25px;
}

.abn-cv-three-widget:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #36c4db;
    top: 0;
    left: 23px;
}

.abn-cv-three-widget-content {
    position: relative;
    margin-bottom: 45px;
}

.abn-cv-three-only-text {
}

.abn-cv-three-only-text h3 {
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom: 8px;
    position: relative;
    padding-left: 75px;
}

.abn-cv-three-only-text h3:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #36c4db;
    border-radius: 50%;
    top: 6px;
    left: 14px;
    margin: 0;
    border: 3px solid #333333;
}

.abn-cv-three-only-text p {
    font-size: 17px;
    font-weight: 300;
    padding-left: 75px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.abn-cv-three-only-text span {
    color: #36c4db;
    font-size: 20px;
    padding-left: 75px;
}

.abn-cv-three-widget-content:last-child {
    margin-bottom: 0;
}

.abn-cv-three-widget-content:last-child span {
    display: block;
    margin-bottom: 15px;
}


.abn-cv-three-skills-set {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 22px;
    justify-content: space-between;
}

.abn-cv-three-user-skill {
    display: flex;
    width: 46%;
    align-items: center;
    justify-content: space-between;
}

.abn-cv-three-user-skill h4 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
}

span.abn-cv-three-skill-line {
    min-width: 110px;
    height: 5px;
    background: #728086;
    border-radius: 5px;
}

span.abn-cv-three-skill-percentage {
    display: block;
    height: 5px;
    background: #36c4dc;
    border-radius: 5px;
}

section.abn-cv-three-content-wrapper {}

main {
    background: #FFFFFF;
    padding: 130px 100px 100px 85px;
}

.abn-cv-three-widget {
    padding-bottom: 4px;
}

.abn-cv-three-icon-text {
    display: flex;
    padding-left: 75px;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.abn-cv-three-icon-text:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #36c4db;
    border-radius: 50%;
    top: 10px;
    left: 14px;
    margin: 0;
    border: 3px solid #FFFFFF;
}

.abn-cv-three-widget-icon {}

.abn-cv-three-widget-icon i {
    color: #333333;
    font-size: 14px;
    width: 30px;
    height: 30px;
    background: #36c4db;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 12px;
}

.abn-cv-three-widget-text {}

.abn-cv-three-widget-text span {
    margin: 0 !important;
    font-size: 20px;
    line-height: 26px;
}

main section.abn-cv-three-section-content-wrap {
    margin-right: 0;
}

main h5.abn-cv-three-section-title {
    color: #333333;
}

.abn-cv-three-job-exp {
    position: relative;
    margin-bottom: 80px;
    padding-bottom: 5px;
}

.abn-cv-three-job-exp:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #36c4db;
    top: 0;
    left: 23px;
}

.abn-cv-three-job-exp .abn-cv-three-section-content {
    margin-bottom: 40px;
}

.abn-cv-three-section-text {}

h3.abn-cv-three-job-title-time {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 75px;
}

h3.abn-cv-three-job-title-time:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #36c4db;
    border-radius: 50%;
    top: 6px;
    left: 14px;
    margin: 0;
    border: 3px solid #FFFFFF;
}

span.abn-cv-three-job-title {
    font-size: 23px;
    text-transform: uppercase;
}

span.abn-cv-three-job-time {
    color: #36c4db;
    font-size: 20px;
}

p.abn-cv-three-job-location {
    font-size: 20px;
    padding-left: 75px;
}

.abn-cv-three-job-exp p {
    font-size: 18px;
    padding-left: 75px;
    margin: 5px 0 15px 0;
    text-align: left;
    line-height: 29px;
}

main .abn-cv-three-only-text h3:before {
    border-color: #ffffff;
}

main .abn-cv-three-widget-content {
    margin-bottom: 40px;
}

.abn-cv-three-job-exp .abn-cv-three-section-content:last-child {
    margin-bottom: 0;
}


