body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #dcdcdc;
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

section.abn-content-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

section.abn-content-wrapper aside {
    background-color: #333333;
    width: 410px;
    position: relative;
    padding: 0 0 88px 88px;
    overflow: hidden;
}

section.abn-content-wrapper aside:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #666666;
    top: 0;
    left: 87px;
}

section.abn-content-wrapper aside:after {
    content: "";
    position: absolute;
    width: 800px;
    height: 500px;
    background: #f2ab00;
    top: -136px;
    right: 44px;
    transform: rotate(133deg);
}

.abn-profile-img-wrapper {
    width: 288px;
    height: 288px;
    border-radius: 50% 50% 50% 0;
    border: 5px solid #FFFFFF;
    background-color: #aaaaaa;
    margin-top: 120px;
    margin-left: 24px;
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
}

.abn-profile-img-wrapper img {
    max-width: 288px;
    max-height: 288px;
    border-radius: 50% 50% 50% 0;
}

.abn-widget {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.abn-widget:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    border-bottom: 2px dashed;
    left: 25px;
    bottom: 0;
}

.abn-widget:last-child {
    margin: 0;
}

.abn-widget:last-child:after {
    border: none;
}

h5.abn-widget-title {
    position: relative;
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    padding-left: 25px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

h5.abn-widget-title:before {
    content: "";
    position: absolute;
    width: 15px;
    height: calc(100% + 8px);
    background: #f2ab00;
    border-radius: 15px;
    top: -4px;
    left: -7px;
}

h5.abn-widget-title i {
    margin-right: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #333333;
    background: #FFFFFF;
    font-size: 21px;
    border-radius: 50%;
}

.abn-widget-content {
    position: relative;
}

.abn-icon-text {
    position: relative;
    display: flex;
    padding-left: 25px;
    align-items: center;
    margin-bottom: 25px;
}

.abn-icon-text:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f2ab00;
    border-radius: 15px;
    top: 50%;
    left: -7px;
    transform: translate(0px, -7px);
}

.abn-widget-icon {
    color: #333333;
    font-size: 16px;
    width: 35px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 12px;
}

.abn-icon-text:last-child {
    margin: 0;
}

.abn-widget-icon i {}

.abn-widget-text {}

.abn-widget-text span {
    display: block;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.abn-only-text {
    margin-bottom: 30px;
}

.abn-widget-content:last-child .abn-only-text {
    margin: 0;
}

.abn-only-text h3 {
    font-size: 23px;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.abn-only-text h3:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f2ab00;
    border-radius: 15px;
    top: 50%;
    left: -7px;
    transform: translate(0px, -7px);
}

.abn-only-text p {
    padding-left: 25px;
    line-height: 28px;
}

/* main section */
section.abn-content-wrapper main {
    background-color: #FFFFFF;
    width: calc(100% - 498px);
    position: relative;
    overflow: hidden;
}

section.abn-content-wrapper main:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #4d4d4d;
    top: 0;
    left: 70px;
    z-index: 1;
}

section.abn-content-wrapper main:after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: #f2ab00;
    bottom: -15%;
    right: -205px;
    transform: rotate(45deg);
}

section.abn-name-designation {
    margin-top: 155px;
    padding: 65px 0 65px 115px;
    position: relative;
    background: #efefef;
}

section.abn-name-designation:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 150px;
    background: #f2ab00;
    border-radius: 15px;
    top: 40px;
    left: 64px;
    z-index: 2;
}

h2.abn-profile-name {
    color: #333333;
    font-size: 60px;
    text-transform: uppercase;
}

span.abn-p-last-name {
    color: #f2ab02;
}

p.abn-designation {
    color: #4b4b4b;
    font-size: 24px;
    text-transform: uppercase;
}

section.abn-section-content-wrap {
    padding: 0 84px 0 115px;
    margin-top: 95px;
}

.abn-about-me {}

.abn-about-me p {
    line-height: 34px;
}

h5.abn-section-title {
    position: relative;
    color: #333333;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

h5.abn-section-title:before {
    content: "";
    position: absolute;
    width: 15px;
    height: calc(100% + 8px);
    background: #f2ab00;
    border-radius: 15px;
    top: -4px;
    left: -51px;
    z-index: 1;
}

h5.abn-section-title i {
    color: #333333;
    font-size: 15px;
    width: 35px;
    height: 35px;
    background: #f2ab00;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 12px;
}

.abn-section-content {}

.abn-section-text {
    margin-bottom: 35px;
}

.abn-section-text p {
    color: #333333;
    font-size: 20px;
    text-align: justify;
}

h3.abn-job-title-time {
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

h3.abn-job-title-time:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f2ab00;
    border-radius: 15px;
    top: 50%;
    left: -51px;
    transform: translate(0px, -7px);
    z-index: 1;
}

span.abn-job-title {
    font-size: 23px;
}

span.abn-job-time {
    font-size: 20px;
}

p.abn-job-location {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 15px;
}

.abn-section-content:last-child .abn-section-text {
    margin: 0;
}

.abn-skills-set {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 22px;
}

.abn-user-skill {
    display: flex;
    width: 48%;
    align-items: center;
    justify-content: space-between;
}

.abn-user-skill h4 {
    color: #333333;
}

span.abn-skill-line {
    width: 125px;
    height: 5px;
    background: #CCCCCC;
    border-radius: 5px;
}

span.abn-skill-percentage {
    display: block;
    height: 5px;
    background: #f2ab00;
    border-radius: 5px;
}


